* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
path {
    fill: none;
    stroke: red;
}

.blue-line {
    stroke: blue;
}

.x-axis path,
.x-axis line,
.y-axis path,
.y-axis line {
    stroke: #444;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

circle {
    fill: red
}

.tip {
    text-anchor: middle;
    font-size: 24px;
    fill: #fff
}
